<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <title><%= title %></title>
  </head>

  <body>
    <%- include("header") %>

    <main class="container mx-auto px-4">
      <h2 class="font-bold text-3xl">Clubhouse Feed</h2>

      <div>
        <ul>
          <% messages.forEach((message) => { %>
            <%- include("message", { message }) %>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
