@import "tailwindcss";

@theme {
  --color-cta: var(--color-blue-800);
  --color-dark: var(--color-gray-800);
}

@layer base {
  body {
    @apply bg-gray-900 text-gray-50;
  }

  a, button {
    @apply transition-opacity;
  }

  a:hover,
  button:hover {
    @apply opacity-90;
  }
}
